<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joyn.tenant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.menu.AddMenuActivity"></activity>
        <activity android:name=".activity.menu.MenuActivity" />
        <activity android:name=".activity.category.CategoryActivity" />
        <activity android:name=".activity.DetailOrderActivity" />
        <activity android:name=".activity.OtpActivity" />
        <activity
            android:name=".activity.NavActivity"
            android:theme="@style/Login" />
        <activity
            android:name=".activity.RegistrasiActivity"
            android:theme="@style/Login" />
        <activity android:name=".activity.HomeActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>